$footer-height: 48px;

footer {
  @apply .opacity-0;
  transform: translateY($footer-height);

  &.is-active {
    @apply .opacity-100;
    transform: translateY(0px);
  }
}

.footer-container {
  height: $footer-height;
}
