.form {
  &__feedback {
    transform: translateX(-50%);
    left: 50%;

    &.success,
    &.error {
      @apply .opacity-100;
      transform: translateX(-50%) translateY(55px);
    }
  }

  &__label-bullet {
    height: 8px;
    width: 8px;
    margin-bottom: 1px;
  }

  &__submit {
    &.submitting {
      @apply .bg-gray-600;
      @apply .border-gray-600;
      @apply .cursor-wait;
    }

    &.success,
    &.error {
      @apply .cursor-default;
      @apply .opacity-0;
      @apply .select-none;
      transform: translateY(55px);
    }
  }
}
