$box-size: 18px;
$container-size: 35px;

.logo__container {
  height: $container-size;
  width: $container-size;
}

.logo__box {
  @apply .absolute;
  @apply .bg-cover;
  @apply .shadow-xs;
  @apply .transition-colors;
  @apply .duration-300;
  @apply .ease-in-out;
  height: $box-size;
  width: $box-size;

  &.is-hovered {
    @apply .shadow-sm;
  }

  &:nth-of-type(1) {
    background-image: url('/svg/logo-letter-b.svg');
  }

  &:nth-of-type(2) {
    background-image: url('/svg/logo-dot.svg');
    // `transform` required in CSS in addition to `init` pose in JS to prevent
    // jumping logo boxes after DOM content has loaded.
    transform: translateX(17px);
  }

  &:nth-of-type(3) {
    background-image: url('/svg/logo-dot.svg');
    transform: translateY(17px);
  }

  &:nth-of-type(4) {
    background-image: url('/svg/logo-letter-a.svg');
    transform: translate(17px, 17px);
  }
}
