$box-size: 18px;
$container-size: 35px;

.logo__container {
  @apply relative;
  height: $container-size;
  width: $container-size;
}

.logo__box {
  @apply absolute;
  @apply bg-gray-100;
  @apply bg-cover;
  @apply transition-colors;
  @apply duration-300;
  @apply ease-in-out;
  height: $box-size;
  width: $box-size;

  &.bg-white {
    @apply bg-white;
  }

  &:nth-of-type(1) {
    background-image: url(/svg/logo-letter-b.svg);
  }

  &:nth-of-type(2) {
    background-image: url(/svg/logo-dot.svg);
  }

  &:nth-of-type(3) {
    background-image: url(/svg/logo-dot.svg);
  }

  &:nth-of-type(4) {
    background-image: url(/svg/logo-letter-a.svg);
  }
}
